/* UTILITIES */

.my-bord-red {
    border: 1px solid red;
}

header {

}

form {

}

section {
    border: 2px dashed pink;
    min-height: 500px;
}

.container {
    border: 2px solid yellow;
}

.container-fluid {
    border: 2px solid rgb(42, 255, 42);
}


[class^='col'] {
    border: 2px solid red;
    min-height: 50px;
}



/* JUMBOTRON*/

#jumbotron {
    background-color: green;
}

.my-avatar img {
    height: 180px;
}


.my-star::after {
    border: 1px solid white;
    border-width: 30px;
}


.linea {
    border: 1px solid white;
    width: 80px;
    margin: auto;
    display: inline-block;
}


.my-img-port img {
    height: px;
}