/* UTILITIES */

.my-bord-red {
    border: 1px solid red;
}

header {

}

form {

}

section {
    border: 2px dashed pink;
    min-height: 500px;
}

.container {
    border: 2px solid yellow;
}

.container-fluid {
    border: 2px solid rgb(42, 255, 42);
}


[class^='col'] {
    border: 2px solid red;
    min-height: 50px;
}

/* HEADER*/

.bg-darker-blue {
 background-color: darkblue;
}


/* JUMBOTRON*/

#jumbotron {
    background-color: green;
}

.my-avatar img {
    height: 180px;
}


#avatar {
    height: auto;
    max-width: 200px;
    margin-bottom: 0.5rem;
}





.my-img-port img {
    height: px;
}

/* STAR DIVIDER */

.bi-star-fill {
    font-size: 24px;
    transform: translateY(-2px);
}

.star-divider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.star-divider::after,
.star-divider::before {
    content: '';
    display: inline-block;
    background-color: azure;
    height: 2px;
    margin: 0 20px;
    width: 100px;
}


/* PORTFOLIIO*/
