.my-bord-red {
    border: 1px solid red;
}

header {

}

form {

}

section {
    border: 2px dashed pink;
    min-height: 500px;
}

.container {
    border: 2px solid yellow;
}

.container-fluid {
    border: 2px solid red;
}


[class^='col'] {
    border: 2px solid orange;
    min-height: 50px;
}